.configs {
  padding-top: 60px;
}

.containerConfigs {
  padding-top: 60px;
}

.inputConfig {
  padding-top: 30px;
  margin-right: 20px;
  display: flex;
}

.btnSalvarConfig {
  background-color:rgb(2, 114, 11);
  margin-left: 20px;
}

.btnCancelarConfig {
  margin-left: 20px;
}